* {
  box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

strong {
  font-weight: $bold-font-weight;
}

h1 {
    font-family: $head-font-family;
    font-weight: $head-font-weight;
    font-size: $large-font-size;
    color: $brand-secondary;
}

h2, h3 {
    font-size: $medium-font-size;
    color: $brand-secondary;
}

.button {
  padding: 12px 20px;
  margin-bottom: $spacing-unit;
  background-color: $brand-secondary;
  border: 1px solid $brand-main;
  color: $brand-main;
  text-decoration: none;
  margin-left: $spacing-unit;
  font-size: $medium-font-size;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($brand-secondary, 25%);
  }

    @include media-query($medium-break) {
        font-size: $small-font-size;
    }
}
