* {
  box-sizing: border-box;
}

body {
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: $bold-font-weight;
}

h1 {
    font-family: $head-font-family;
    font-weight: $head-font-weight;
    font-size: $large-font-size;
    color: $brand-secondary;
}

h2, h3 {
    font-size: $medium-font-size;
    color: $brand-secondary;
    margin-left: 0;
    line-height: 1.4;
}

.button {
  padding: 12px 20px;
  margin-bottom: $spacing-unit;
  background-color: $brand-secondary;
  color: $brand-main;
  text-decoration: none;
  font-size: $small-font-size;
  white-space: nowrap;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    background-color: darken($brand-secondary, 25%);
  }

    @include media-query($medium-break) {
        font-size: $small-font-size;
    }
}

span.colored {
  color: $brand-secondary;
}