body {
    margin-bottom: $spacing-unit;
    scroll-behavior: smooth;
}


h1, p {
    margin-bottom: $spacing-unit;
}

h1, h2 {
    padding: $spacing-unit 0;
}

.programm-commitee {
    grid-column: 1fr;
}

section {
    padding: calc(5*$spacing-unit) 0;
    border-top: 1px solid $brand-main;
    color: $brand-main;

    &.no-border {
        border-top: none;
    }

    &.brand-main {
        background-color: $brand-main;
        color: rgba(255,255,255,0.9);

        .section-content {
            color: rgba(255,255,255,0.9);
        }

        .section-title {
            color: #f2ba08;
        }
    }

    &.brand-secondary {
        background-color: $brand-secondary;
        color: $brand-main;
    }

    &.grey {
        background-color: #f5f6f7;
        color: $brand-main;
    }
}

.half-page-height {
    min-height: 50vh;
}

.separator {
    width: 100%;
    height: 0px;
    margin-bottom: calc(2*$spacing-unit);
    border-bottom: $spacing-unit solid $brand-secondary;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid $brand-main;
    line-height: 1.2;
    padding: $spacing-unit 0;
}

.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main-page-body {
    grid-column: 1 / 12;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $brand-main;
}

header.header-page {
    grid-column: 2 / 12;
    grid-row: 1 / 2;

    @include media-query($medium-break) {
        nav {
            text-align: center;

            ul {
                display: none;
            }
        }
    }

    nav {
        padding-top: $spacing-unit;
        text-align: right;
        font-size: $small-font-size;
        display: flex;
        justify-content: space-between;

        ul {
            margin-left: 0;
            margin-bottom: 0;
        }

        li {
            display: inline-block;
            margin-left: calc($spacing-unit/2);

            a {
                color: $white-colour;
                text-decoration: none;
                transition: color 0.1s, background-color 0.1s;
                position: relative;
                display: block;
                padding: $spacing-unit 0;
                margin: 0 $spacing-unit;
            }

            a:hover,
            a:focus {
                color: $brand-secondary;
                text-decoration: none;
            }

            a::before {
                content: '';
                display: block;
                position: absolute;
                bottom: 3px;
                left: 0;
                height: 3px;
                width: 100%;
                background-color: $brand-secondary;
                transform-origin: right top;
                transform: scale(0, 1);
                transition: color 0.1s, transform 0.2s ease-out;
            }

            a:hover::before,
            a:focus::before {
                transform-origin: left top;
                transform: scale(1, 1);
            }
        }

        .logo {
            align-self: center;
            width: 25vw;
            float: left;
        }

        @include media-query($medium-break) {
            .logo {
                width: 300px;
                float: none;
            }
        }
    }

}

.header-title-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $brand-main;
    color: white;
    padding: 100px 0;
}

.header-title {
    grid-row: 1 / 2;
    grid-column: 2 / 12;
    text-align: center;
    
    h1 {
        font-weight: 800;
        color: white;
        font-size: clamp(60px, 5vw, 200px);
        opacity: 0.925;
    }
}

.header-sub {
    font-size: 1em;
    color: white;
    opacity: 0.45;
    margin-top: 1em;
}

/* Program */
.program-container {
    font-size: clamp(18px, 1.2vw, 22px);
}

.program-item {
    line-height: 1.2;
    border-bottom: 1px solid $grey-colour-light;
    padding: 30px 0;

    &:last-of-type {
        border-bottom: none;
    }

    a {
        color: $brand-main;
        text-decoration: underline;
    }

    .room-name {
        background-color: $brand-main;
        color: white;
        padding: .2em .5em;
        border-radius: 6px;
        margin-left: .5em;
    }

    .program-item-info {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 1em;

        .program-item-time {
            font-weight: 800;
            color: $brand-secondary;
            grid-column: 3 / 4;

            @include media-query($extra-large-break) {
                grid-column: 3 / 4;
            }
        
            @include media-query($large-break) {
                grid-column: 3 / 4;
            }
        
            @include media-query($medium-break) {
                grid-column: 2 / 3;
            }
        }
        
        .program-item-name {
            grid-column: 4 / 8;

            .program-item-name-category {
                font-size: 0.85em;
                margin-bottom: .65em;
            }

            .program-item-authors {
                font-size: 0.85em;
                margin-top: .65em;
            }

            @include media-query($extra-large-break) {
                grid-column: 4 / 8;
            }
        
            @include media-query($large-break) {
                grid-column: 4 / 8;
            }

            @include media-query($medium-break) {
                grid-column: 3 / 11;
            }
        }
        
        .program-item-speaker {
            grid-column: 9 / 12;
            font-size: 0.85em;

            @include media-query($extra-large-break) {
                grid-column: 9 / 12;
            }
        
            @include media-query($large-break) {
                grid-column: 9 / 12;
            }

            @include media-query($medium-break) {
                grid-column: 3 / 11;
            }
        }
    }

    .program-item-description {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        margin-top: .65em;
        font-size: 0.85em;
        grid-column-gap: 1em;

        .program-item-description-text {
            max-height: 0;
            overflow: hidden;
            grid-column: 4 / 8;
            margin-top: 0;

            &.open {
                margin-top: 1em;
                max-height: 20000px;
            }

            @include media-query($extra-large-break) {
                grid-column: 4 / 8;
            }
        
            @include media-query($large-break) {
                grid-column: 4 / 8;
            }

            @include media-query($medium-break) {
                grid-column: 2 / 11;
            }
        }

        .program-item-expand-container {
            grid-column: 4 / 11;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @include media-query($extra-large-break) {
                grid-column: 4 / 11;
            }
        
            @include media-query($large-break) {
                grid-column: 4 / 11;
            }

            @include media-query($medium-break) {
                grid-column: 4 / 11;
            }

            .program-item-expand {
                background-color: $brand-secondary;
                color: $brand-main;
                padding: 8px 16px;
                border-radius: 20px;
                cursor: pointer;
                display: inline-flex;
                white-space: nowrap;
                font-size: 0.85em;
                justify-content: center;
            }

            .program-item-name-paper-link {
                display: block;
                font-size: 0.85em;
                opacity: 0.75;

                div  {
                    display: inline-block;
                }
            }
        }
    }
}

.program-item-name-location {
    margin-top: .65em;
    display: flex;
    align-items: center;
}

.date-menu-container {
    display: flex;
    justify-content: center;

    .date-menu {
        display: flex;
        flex-direction: row;
        margin-top: -100px;

        .date-item {
            background-color: white;
            padding: 6px 20px;
            border-radius: 20px;
            color: $brand-main;
            margin: 1px;
            cursor: pointer;

            &.selected {
                color: $brand-main;
                font-weight: 800;
            }
        }
    }
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid $brand-main;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $brand-main transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  