body {
    margin-bottom: $spacing-unit;
    scroll-behavior: smooth;
}


h1, p {
    margin-bottom: $spacing-unit;
}

h1, h2 {
    padding: $spacing-unit 0;
}

.programm-commitee {
    grid-column: 1fr;
}

section {
    padding: calc(5*$spacing-unit) 0;
    border-top: 1px solid $brand-main;
    color: $brand-main;

    &.no-border {
        border-top: none;
    }

    &.brand-main {
        background-color: $brand-main;
        color: rgba(255,255,255,0.9);

        .section-content {
            color: rgba(255,255,255,0.9);
        }

        .section-title {
            color: #f2ba08;
        }
    }

    &.brand-secondary {
        background-color: $brand-secondary;
        color: $brand-main;
    }

    &.grey {
        background-color: #f5f6f7;
        color: $brand-main;
    }
}

.half-page-height {
    min-height: 50vh;
}

.separator {
    width: 100%;
    height: 0px;
    margin-bottom: calc(2*$spacing-unit);
    border-bottom: $spacing-unit solid $brand-secondary;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: auto;
}

.line {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid $brand-main;
    line-height: 1.2;
    padding: $spacing-unit 0;
}