body {
    margin-bottom: $spacing-unit;
}

h1, p {
    margin-bottom: $spacing-unit;
}

h2 {
    margin-bottom: calc($spacing-unit / 2);
}

h1, h2 {
    margin-left: -$gap-size;
    padding: calc($spacing-unit/4) 0 calc($spacing-unit/8) calc($spacing-unit/4);
}

.full-page-height {
    min-height: 100vh;
}

.half-page-height {
    min-height: 50vh;
}


@include media-query($medium-break) {

    .wrapper {
        width: 80%;
    }
}
