


#splash {
        min-height: 90vh;
        display: grid;
        grid-template-columns: 2fr 1fr 60% 1fr 2fr;
        grid-template-rows: 10% 40% 10%;
        grid-auto-rows: 1fr;

        @include media-query($medium-break) {
            min-height: 100vh;
            grid-template-rows: 8% 40% 1fr minmax(20%, 55%);
            grid-auto-rows: 1fr;
            }


        .overlay {
            background: linear-gradient(rgba($dark-brand-main, 0.8), rgba($dark-brand-main, 0.5)), url("../img/cover/cover.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            grid-column: 1 / 6;
            grid-row: 1 / 5;
        }

        header {
            grid-column: 1 / 4;
            grid-row: 1 / 2;

            @include media-query($medium-break) {
                nav {
                    text-align: center;
                }
            }

            nav {
                padding-left: $spacing-unit;
                padding-top: $spacing-unit;
                text-align: right;
                font-size: $small-font-size;


                ul {
                    margin-left: 0;
                    margin-bottom: 0;
                }

                li {
                    display: inline-block;
                    margin-left: calc($spacing-unit/2);
                    a {
                        color: $white-colour;
                        text-decoration: none;
                        transition: color 0.1s, background-color 0.1s;
                        position: relative;
                        display: block;
                        padding: $spacing-unit 0;
                        margin: 0 $spacing-unit;
                    }

                    a:hover,
                    a:focus, {
                        color: $brand-secondary;
                        text-decoration: none;
                    }

                    a::before {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 3px;
                        left: 0;
                        height: 3px;
                        width: 100%;
                        background-color: $brand-secondary;
                        transform-origin: right top;
                        transform: scale(0, 1);
                        transition: color 0.1s, transform 0.2s ease-out;
                    }

                    a:hover::before,
                    a:focus::before {
                        transform-origin: left top;
                        transform: scale(1, 1);
                    }
                }

                .logo {
                    width: 25vw;
                    max-width: 25vw;
                    float: left;
                }

                @include media-query($medium-break) {
                    .logo {
                            display: none;
                    }
                }
            }

        }

        .hero {
            grid-column: 2/5;
            grid-row: 2/3;
            padding-top: calc(2*$spacing-unit);
            padding-right: calc(2*$spacing-unit);
            line-height: calc(1.3 * $base-line-height);
            display: flex;
            justify-content: center;
            text-align: left;

            img {
                max-height: 25vh;
                align-self: center;
            }

            @include media-query($medium-break) {
                img {
                    max-height: 20vh;
                }
            }

            h1 {
                align-self: center;
                color: $white-colour;
                font-size: $large-font-size;
                font-weight: $bold-font-weight;
                margin-left: calc(4*$spacing-unit);
            }
            @include media-query($medium-break) {
                h1 {
                    font-size: $medium-font-size;
                    line-height: normal;
                    margin-left: calc(2*$spacing-unit);
                }
            }
        }

        .info {
            grid-row: 4/5;
            grid-column: 1/6;
            display: flex;
            background-color: $brand-main;
            border-bottom: $spacing-unit solid $brand-secondary;
            justify-content: center;
            padding-bottom: calc(4*$spacing-unit);

            .card  {
                width: 20%;
                padding: 10px;
                color: $white-colour;
                font-size: $small-font-size;
                h2 {
                    text-transform: uppercase;
                }
                li {
                    list-style: none;
                }
            }
        }

            @include media-query($medium-break) {
                .info {
                flex-direction: column;
                   font-size: $small-font-size;


                   .card {
                    width:90%;
                    margin:auto;
                   }
                }
            }
}





#conference {

    img {
        max-width: 100%;
    }
    .centred {
        text-align: center;
    }

    p {
        margin-bottom: calc($spacing-unit*2);
    }
}

#cfp {
    ul {
        margin-left: 40px;
    }
}

#committee {
    ul {
        margin-left: 40px;
    }
}

#past {
    border-top: $spacing-unit solid $brand-secondary;
    padding: $spacing-unit;
    background-color: $brand-main;
    color: $white-colour;
    display: flex;

    .card {
        flex: 1 1 0;
        padding: $spacing-unit;
    }

    li{
        list-style: none;
    }

    a {
    color: $white-colour;
    text-decoration: underline;
    }
}

@include media-query($medium-break) {
    #past {
        flex-direction: column;
     }
}

