nav {
    text-align: right;
    font-size: $small-font-size;
    background-color: rgba($brand-main, 0.5);

    ul {
        margin-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline-block;
        margin-left: calc($spacing-unit/2);
    }

    .logo {
        width: 25vw;
        max-width: 25vw;
        float: left;
    }
}

.hero {
    padding-top: $spacing-unit;
    padding-right: calc($spacing-unit/2);
    line-height: calc(1.3 * $base-line-height);
    text-align: left;
    background-color: rgba($brand-main, 0.5);

    h1 {
        color: $white-colour;
    }

    h2 {
        color: lighten($brand-main, 30%);
        padding-bottom: $spacing-unit;
        text-shadow: 2px 2px 4px black;
    }
}


