#splash {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: calc(5 * $spacing-unit);
    padding: 0;

    @include media-query($medium-break) {}


    .overlay {
        background-image: linear-gradient(rgba($dark-brand-main, 0.2), rgba($dark-brand-main, 0.7)), url("/img/cover/cover.jpg");
        background-color: $brand-main;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        // background-attachment: fixed;
        grid-column: 1 / 13;
        grid-row: 1 / 5;
    }

    header {
        grid-column: 2 / 12;
        grid-row: 1 / 2;

        @include media-query($medium-break) {
            nav {
                text-align: center;

                ul {
                    display: none;
                }
            }
        }

        nav {
            padding-top: $spacing-unit;
            text-align: right;
            font-size: $small-font-size;
            display: flex;
            justify-content: space-between;

            ul {
                margin-left: 0;
                margin-bottom: 0;
            }

            li {
                display: inline-block;
                margin-left: calc($spacing-unit/2);

                a {
                    color: $white-colour;
                    text-decoration: none;
                    transition: color 0.1s, background-color 0.1s;
                    position: relative;
                    display: block;
                    padding: $spacing-unit 0;
                    margin: 0 $spacing-unit;
                }

                a:hover,
                a:focus {
                    color: $brand-secondary;
                    text-decoration: none;
                }

                a::before {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background-color: $brand-secondary;
                    transform-origin: right top;
                    transform: scale(0, 1);
                    transition: color 0.1s, transform 0.2s ease-out;
                }

                a:hover::before,
                a:focus::before {
                    transform-origin: left top;
                    transform: scale(1, 1);
                }
            }

            .logo {
                align-self: center;
                height: 12vh;
                float: left;
            }

            @include media-query($medium-break) {
                .logo {
                    height: 10vh;
                    float: none;
                }
            }
        }

    }

    .hero {
        grid-column: 5/10;
        grid-row: 2/3;
        padding-top: calc(2*$spacing-unit);
        padding-right: calc(2*$spacing-unit);
        line-height: calc(1.3 * $base-line-height);
        text-align: left;

        img {
            max-height: 25vh;
            align-self: center;
        }

        @include media-query($medium-break) {
            img {
                max-height: 20vh;
            }
        }

        h1 {
            align-self: center;
            color: $white-colour;
            font-size: clamp(26px, 5vw, 40px);
            line-height: 1;
            font-weight: $bold-font-weight;
            margin-left: 0;
        }

        h2 {
            color: $white-colour;

            &:before {
                margin-bottom: calc(3*$spacing-unit);
                display: block;
                content: "";
                width: 20px;
                height: 3px;
                background-color: $white-colour;
                position: relative;
            }

            b {
                font-weight: bold;
            }
        }

        @include media-query($medium-break) {
            grid-column: 2/13;

            h1 {
                line-height: normal;
            }
        }
    }

    .buttons {
        grid-column: 5/10;
        grid-row: 3/4;

        @include media-query($medium-break) {
            grid-column: 2/13;
            flex-direction: column;
            margin-bottom: calc(4* $spacing-unit);
        }
    }

    .info {
        grid-row: 4/5;
        grid-column: 1/13;
        display: flex;
        background-color: $brand-main;
        border-bottom: $spacing-unit solid $brand-secondary;
        justify-content: center;
        padding-bottom: calc(4*$spacing-unit);

        .card {
            width: 20%;
            padding: 10px;
            color: $white-colour;
            font-size: $small-font-size;

            h2 {
                text-transform: uppercase;
            }

            li {
                list-style: none;
            }
        }
    }

    @include media-query($medium-break) {
        .info {
            flex-direction: column;
            font-size: $small-font-size;


            .card {
                width: 90%;
                margin: auto;
            }
        }
    }
}

.section-title {
    grid-column: 3/5;
    font-weight: bold;
    font-size: $medium-font-size;
    padding-right: calc(5*$spacing-unit);
    font-size: clamp(18px, 2vw, 25px);
    line-height: 1.2;

    @include media-query($medium-break) {
        grid-column: 2/12;
        text-align: left;
        margin-bottom: calc(2*$spacing-unit);
    }
}

ul.list-blocks{
    padding-left: 1.2em;
    margin-left: 0;

    li {
    margin-bottom: calc(2*$spacing-unit);
    }
}

.section-content {
    grid-column: 5/9;
    color: $brand-main;
    font-size: $medium-font-size;
    line-height: 1.4;
    font-size: $font-medium;

    &.one-col {
        grid-column: 5/13;
    }



    a {
        color: $brand-secondary;

        &.button {
            color: $brand-main;
        }
    }

    @include media-query($extra-large-break) {
        grid-column: 5/11;
    }

    @include media-query($large-break) {
        grid-column: 5/11;
    }

    @include media-query($medium-break) {
        grid-column: 2/12;
        font-size: $base-font-size;
    }
}

.section-wide {
    grid-column: 3/11;

    @include media-query($medium-break) {
        grid-column: 2/12;
    }
}

.sponsors {
    img {
        mix-blend-mode: multiply;
        display: block;
        max-width: 150px;
        margin-bottom: calc(2*$spacing-unit);
    }
}

.speaker {
    padding: calc(3*$spacing-unit) 0;
    border-top: 1px solid rgba(255,255,255,0.25);

    &.transparent {
        border-top: 1px solid rgba(0,0,0,0.05);
    }

    ul {
        margin-left: 20px;
    }

    .section-title {
        display: none;
    }

    &:last-child {
        padding-bottom: 0;
    }

    &:first-child {
        .section-title {
            display: block;
            margin-bottom: calc(4*$spacing-unit);

            @include media-query($medium-break) {
                margin-bottom: calc(4*$spacing-unit);
            }
        }
    }

    .section-content {
        font-size: $font-small;
        grid-column: 3/11;
        // border-top: 1px solid $brand-main;
        // padding-top: calc(3*$spacing-unit);

        @include media-query($medium-break) {
            grid-column: 2/12;
            font-size: $font-medium;
        }
    }

    .speakers-list {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        .speaker-details {
            p:last-child {
                margin-bottom: 0;
            }
        }

        .speaker-image-container {
            width: 100%;
            grid-column: 1/3;

            .speaker-image-content {
                background-color: white;
                max-width: 180px;
                width: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    display: block;
                }
            }
        }

        .speaker-portrait {
            grid-column: 3/5;

            @include media-query($medium-break) {
                grid-column: 1/7;
            }

            .speaker-name {
                font-weight: bold;
                line-height: 1.2;
                // color: $brand-secondary;
                // font-size: $font-medium;
            }

            .speaker-title {
                line-height: 1.2;
                opacity: 0.65;
            }
        }

        .speaker-details {
            grid-column: 5/11;

            @include media-query($medium-break) {
                grid-column: 1/7;
            }
        }

        @include media-query($medium-break) {
            grid-template-columns: 1fr;
        }
    }

    &:first-child {
        border-top: none;
        padding-top: 0;
    }
}

#organization {
    .section-content {
        grid-column: 5/10;

        @include media-query($medium-break) {
            grid-column: 2/12;
        }
    }
}

#program-committee {
    .section-content {
        grid-column: 5/11;

        @include media-query($medium-break) {
            grid-column: 2/12;
        }
    }
    .speakers-list {
        // grid-template-columns: repeat(4, 1fr);
        // grid-column-gap: $spacing-unit;
        // grid-row-gap: $spacing-unit;
        display: block;
        columns: 3;
        column-gap: 0;

        > div {
            padding-right: calc(2*$spacing-unit);
            display: inline-block;
        }

        div > div:first-child {
            font-weight: bold;
        }

        div > div:last-child {
            margin-bottom: $spacing-unit;
        }

        @include media-query($medium-break) {
            grid-template-columns: 1fr;
            columns: 2;
        }
    }
}

#organization {
    .section-content {
        .speakers-list {
            grid-template-columns: repeat(5, 1fr);

            @include media-query($medium-break) {
                grid-template-columns: 1fr;
            }
        }
    }

    .people {
        grid-column: 3/6;

        div > div:first-child {
            font-weight: bold;
        }

        div > div:last-child {
            margin-bottom: $spacing-unit;
        }

        .person {
            margin-bottom: calc(2*$spacing-unit);
            display: grid;
            grid-template-columns: 1fr 2fr;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @include media-query($medium-break) {
            grid-column: 1/2;
        }
    }
}

.speakers-list {
    display: grid;
    grid-row-gap: calc(3*$spacing-unit);
    grid-template-columns: repeat(2, 1fr);
    line-height: 1.2;
    font-size: $font-medium;

    .speaker-name {
        font-weight: bold;
    }

    .speaker-portrait {
        grid-column: 1/2;

        .speaker-image-container {
            background-color: $brand-main;
            width: 100%;
            // max-width: 200px;
            margin-bottom: $spacing-unit;

            img {
                width: 100%;
                display: block;
            }
        }
    }

    .speaker-details {
        grid-column: 2/3;
        line-height: 1.25;
    }

    .speaker-image-container, .speaker-portrait, .speaker-details {
        padding-right: calc(2*$spacing-unit);
    }

    @include media-query($medium-break) {
        grid-template-columns: 1fr;
        font-size: $font-medium;
    }
}

.speakers-list.organization {
    .speaker-image-container {
        width: 100%;
        max-width: 120px;

        .speaker-image-content {
            background-color: white;
        }

        img {
            width: 100%;
            display: block;
        }
    }
}


.message {
    -webkit-font-smoothing: antialiased;
    background-color: $brand-main;
    color: rgba(255,255,255,0.9);
    font-size: $font-medium;
    line-height: 1.25;
    border-radius: 10px;
    padding: calc(3*$spacing-unit);
    margin-top: calc(4*$spacing-unit);
    grid-column: 5/9;

    &.yellow {
        background-color: $brand-secondary;
        color: $brand-main;

        a {
            color: $brand-main;
            text-decoration: underline;
        }
    }

    @include media-query($medium-break) {
        grid-column: 2/12;
    }
}


#conference {

    img {
        max-width: 100%;
    }

    .centred {
        text-align: center;
    }

    p {
        margin-bottom: calc($spacing-unit*2);
    }
}

#cfp {
    grid-column: 1/13;
}

#committee {
    ul {
        margin-left: 40px;
    }
}

footer {
    background-color: $brand-main;
    color: $white-colour;

    .footer-content {
        grid-column: 2/12;
        font-size: $small-font-size;
        line-height: 1.4;
        padding-top: calc(5*$spacing-unit);
        padding-bottom: calc(5*$spacing-unit);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: $spacing-unit;
        grid-row-gap: calc(2*$spacing-unit);

        strong {
            display: block;
            margin-bottom: calc(2*$spacing-unit);
        }

        @include media-query($medium-break) {
            grid-template-columns: 1fr;
        }
    }
}

#past {
    color: $white-colour;

    li {
        list-style: none;
    }

    a {
        color: $brand-secondary;
        text-decoration: none;
    }
}

.accomodation-block {
    margin-bottom: 40px;
}

.blocks-list {
    columns: 4;
    column-gap: calc(4*$spacing-unit);
    padding: calc(3*$spacing-unit);
    padding-bottom: 0;
    background-color: white;
    color: $brand-main;
    font-size: $font-medium;

    @include media-query($medium-break) {
        columns: 1;
    }

    li {
        line-height: 1.2;
        margin-bottom: calc(1*$spacing-unit);

        &:last-child {
            margin-bottom: 0;
        }
    }
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-column-gap: calc($spacing-unit);
    // margin-top: calc(2*$spacing-unit);

    // @include media-query($medium-break) {
    //     grid-template-columns: 1fr;
    // }

    // div {
    //     background-color: $brand-main;
    //     padding: calc(2*$spacing-unit);
    //     border-radius: 3px;
    //     color: white;
    //     font-size: $font-small;
    //     line-height: 1.2;
    //     position: relative;

    //     &::before {
    //         content: '•';
    //         position: absolute;
    //         left: 0;
    //         top: calc(2*$spacing-unit);
    //     }
    

    //     a {
    //         color: $brand-secondary;
    //     }

    //     @include media-query($medium-break) {
    //         padding: calc($spacing-unit);
    //         font-size: $base-font-size;
    //     }
    // }
}