@charset "utf-8";

// Our variables
$base-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$bold-font-weight: 700;

$head-font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$head-font-weight: $base-font-weight;

$small-font-size:  $base-font-size * 0.875;
$medium-font-size: $base-font-size * 1.25;
$large-font-size:  $base-font-size * 2;
$base-line-height: 2rem;

$spacing-unit:     10px;

$text-color:        #111;
$background-colour: #fff;
$brand-main:        #1c202f;
$brand-secondary:   #F3B234;
$dark-brand-main:   darken($brand-main, 20%);

$white-colour:      #eee;

$link-colour: lighten($brand-main, 25%);

$grey-colour:       rgb(52, 32, 42);
$grey-colour-light: lighten($grey-colour, 30%);
$grey-colour-dark:  darken($grey-colour, 10%);

$gap-size: 10px;

$small-break:          400px;
$medium-break:         700px;
$large-break:          1000px;
$extra-large-break:    1400px;


// Use media queries like this:
// @include media-query($on-palm) {
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials
@import
        "partials/reset",
        "partials/base",
        "partials/layout",
        "partials/sections"
;
