<footer>
    <div id="past" class="wrapper">
        <div class="footer-content">
            <div class="datajconf card">
                <strong>Past European Data and Computational Journalism Conferences</strong>
                <ul>
                    {%- for previous in past -%}
                        <li><a href="{{previous.url}}">{{ previous.year }} - {{ previous.location }}</a> (<a href="{{ previous.proceedings }}">Proceedings</a>)</li>
                    {%- endfor -%}
                </ul>
            </div>
            <div class="credits card">
                <strong>Image Credits</strong>
                <ul>
                </ul>
            </div>
        </div>
    </div>
</footer>

