<header>
    <nav class="navbar">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#conference">Conference</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="#speakers">Speakers</a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="#schedule">Schedule</a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="#submissions">Call for Papers</a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="#venue">Venue</a></li> -->
            <li class="nav-item"><a class="nav-link" href="#organisers">Organisers</a></li>
            <li class="nav-item"><a class="nav-link" href="#sponsors">Sponsors</a></li>
            <li class="nav-item"><a class="nav-link" href="past/">Past</a></li>
        </ul>
    </nav>
</header>