<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title and description -->
    <title>The Joint Computation + Journalism European Data and Computational Journalism Conference 2023</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- meta -->
    <link rel="canonical" href="https://datajconf.com/">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@datajconf" />
    <meta name="twitter:creator" content="@martinjc" />
    <meta name="twitter:image" content="img/logo_small.png" />
    <meta property="og:url" content="https://datajconf.com/" />
    <meta property="og:site_name" content="The Joint Computation + Journalism European Data and Computational Journalism Conference 2023" />
    <meta property="og:title" content="The Joint Computation + Journalism European Data and Computational Journalism Conference 2023" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:image" content="img/logo_small.png" />

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2023.1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2023.1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2023.1">
    <link rel="manifest" href="/site.webmanifest?v=2023.1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2023.1" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=2023.1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <script async src="//use.fontawesome.com/974e2a5af3.js"></script>
</head>