<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title and description -->
    <title>European Data and Computational Journalism Conference</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">

    <!-- meta -->
    <link rel="canonical" href="https://datajconf.com/">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@datajconf" />
    <meta name="twitter:creator" content="@martinjc" />
    <meta name="twitter:image" content="img/logo_small.png" />
    <meta property="og:url" content="https://datajconf.com/" />
    <meta property="og:site_name" content="European Data and Computational Journalism Conference" />
    <meta property="og:title" content="European Data and Computational Journalism Conference" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:image" content="img/logo_small.png" />

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <script async src="//use.fontawesome.com/974e2a5af3.js"></script>
</head>