<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- title and description -->
    <title>European Data and Computational Journalism Conference 2025</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- meta -->
    <link rel="canonical" href="https://datajconf.com/">
    <meta property="og:url" content="https://datajconf.com/" />
    <meta property="og:site_name" content="The European Data and Computational Journalism Conference 2025" />
    <meta property="og:title" content="The European Data and Computational Journalism Conference 2025" />
    <meta property="og:description" content="{{ description or metadata.description }}" />
    <meta property="og:image" content="img/logo_small.png" />

    <!-- icons -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="DataJConf" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <script async src="//use.fontawesome.com/974e2a5af3.js"></script>

</head>