<header>
    <nav class="navbar">
        <img src="img/logo/logo-white-2x.png" alt="logo" class="logo">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#attending">Attending</a></li>
            <li class="nav-item"><a class="nav-link" href="#keynotes">Keynotes</a></li>
            <li class="nav-item"><a class="nav-link" href="#program">Program</a></li>
            <li class="nav-item"><a class="nav-link" href="#committee">Committee</a></li>
            <li class="nav-item"><a class="nav-link" href="#submission">Submission</a></li>
            <li class="nav-item"><a class="nav-link" href="#venue">Venue</a></li>
        </ul>
    </nav>
</header>