<div class="header-container">
    <header class="header-page">
        <nav class="navbar">
        <img src="../img/logo/logo-white-2x.png" alt="logo" class="logo" />
        <ul class="nav">
            <!-- <li class="nav-item"><a class="nav-link" href="#home">Home</a></li> -->
            <!-- <li class="nav-item">
            <a class="nav-link" href="#cfp">Call for Papers</a>
            </li> -->
            <li class="nav-item">
            <a class="nav-link" href="#speakers">Speakers</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#organization">Organization</a>
            </li>
        </ul>
        </nav>
    </header>
</div>